# Node
node_modules/
npm-debug.log
yarn-error.log
package-lock.json

# Parcel
.parcel-cache/
dist/
.parcelrc

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Material de trabajo que no se publica
gradiant.pdf
TFG.pdf
simbolo.zip*
assets/cv/rendercv_output/
